{% extends "base.html" %}

{% block css %}  
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock%}

{% block main %}
	<div >
		<header>
			<img src="{{ url_for('static', filename='lab21.jpg') }}" alt="user_808_image">
			<h1>Rory Young</h1>
			<p>@user_808</p>
			<p>St. Elizabeth</p>
			<p> {{ date }} </p>
		</header>
	</div>

	<main>
		<h2> I am a freelance web developer who excels in back-end and front-end coding. Let's work on a project together.</h2>
		<h3> 10 321 432 </h3>
		<p> Posts Following Followers</p>
		<button> Follow </button>
	</main>
{% endblock %}